.center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  gap: 0.5em;
}
#personWithBag{
  opacity: 0.3;
}

table{
  margin: auto;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-top: 1.5em;
}
th, td {
  border-bottom: 0.5px solid #ddd;
  padding: 15px;
}
tbody tr{
  border: 0.5px solid #ddd;
}
tfoot{
  background-color: #ddd;
  text-align: center;
}

#total{
  text-align: right;
}


#buyButton, #makeReview{
  background-color: #E7B222;
  opacity: 0.8;
  color: white;
  border: white;
  border-radius: 20px;
  padding: 0.8em;
  display: block;
  margin: 1em auto;
}

